<meta HTTP-EQUIV="REFRESH" content="30" />
<h1 align="center" style="color:Olive">This is  Bee Pee Tea ex-monitoring page.</h1>
<table width="80%" align="center">
<tr>
<td width="60%">
<table class="xdaq-table-vertical" align="left">

<caption>Key information form the two scopes</caption>
<thead>
<tr>
<th>Scope name</th>
<th>Last acquisition timestamp</th>
<th>nB1</th>
<th>nB2</th>
<th>nCol</th>
<th><nobr>&Delta;T(B1 - B2),</nobr> ns</th>
<th>Script version</th>
</tr>
</thead>

<tbody>

<th style="white-space:nowrap">1. Bunches Scope</th>
<td>%BPTX_Bunches_timestamp%</td>
<td>%BPTX_Bunches_nB1%</td>
<td>%BPTX_Bunches_nB2%</td>
<td>%BPTX_Bunches_nCol%</td>
<td>%BPTX_Bunches_dT%</td>
<td>%BPTX_Bunches_ver%</td>
</tr>

<tr>
<th style="white-space:nowrap">2. Timing Scope</th>
<td>%BPTX_Timing_timestamp%</td>
<td>%BPTX_Timing_nB1%</td>
<td>%BPTX_Timing_nB2%</td>
<td>%BPTX_Timing_nCol%</td>
<td>%BPTX_Timing_dT%</td>
<td>%BPTX_Timing_ver%</td>
</tr>
<tr>


</tbody>
</table>

</td>

<td width="20%" align="center"><h2><a href="http://cmswbm.cms/cmsdb/servlet/LHCStatusDisplay" target="_blank">%BEAM_MODE%</a></h2>
FILL %FILL%
</td>
<td width="20%" align="center"> Buses<br/>%BUSES%</td>
</tr>
</table>



<div class="xdaq-tab-wrapper" align="center">
<div class="xdaq-tab" title="Summary">

<table class="xdaq-table-striped">
<caption>Summary of the BPTX scope measurements</caption>

<thead>
<tr>
<th>Measurement</th>
<th>Beam 1</th>
<th>Beam 2</th>
</tr>
</thead>


<tbody>

<tr>
<td>Total beam intensity, &times; 10<sup>11</sup> protons</td>
<td>BPTX: %BPTX_TOT_INT_B1% | FBCT: %FBCT_TOT_INT_B1% </td>
<td>BPTX: %BPTX_TOT_INT_B2% | FBCT: %FBCT_TOT_INT_B2% </td>
</tr>

<tr>
<td>Average per-bunch intensity, &times; 10<sup>11</sup></td>
<td>BPTX: %BPTX_AVG_INT_B1%  | FBCT: %FBCT_AVG_INT_B1%</td>
<td>BPTX: %BPTX_AVG_INT_B2%  | FBCT: %FBCT_AVG_INT_B2%</td>
</tr>

<tr>
<td>Average bunch length, ns:</td>
<td>BPTX: %BPTX_AVG_LEN_B1% | LHC: %LHC_AVG_LEN_B1% </td>
<td>BPTX: %BPTX_AVG_LEN_B2% | LHC: %LHC_AVG_LEN_B2% </td>
</tr>

<tr>
<td>Average phase, ns:</td>
<td>%BPTX_AVG_PHA_B1%</td>
<td>%BPTX_AVG_PHA_B2%</td>
</tr>

<tr>
<td>Missing bunches (wrt LHC BX-Config):</td>
<td>%BPTX_MISS_B1%</td>
<td>%BPTX_MISS_B2%</td>
</tr>

<tr>
<td>Unexpected extra bunches (wrt LHC config):</td>
<td>%BPTX_EXTRA_B1%</td>
<td>%BPTX_EXTRA_B2%</td>
</tr>

<tr>
<td>All found bunches (bunch crossing ID numbers - BX):</td>
<td>%BPTX_BX_B1%</td>
<td>%BPTX_BX_B2%</td>
</tr>


</tbody>
</table>
</div>

<div class="xdaq-tab" title="Bunch-by-Bunch">
- Columns in the table are sortable! (In order to sort by BX - reload the page.) <br/>
- <b>Bold BX</b> numbers indicate  colliding bunches. <br/>

<table>
<tr>
<td style="vertical-align:top">
<table class="xdaq-table-striped" >
<caption>Beam 1 </caption>
<thead><tr><th>BX</th><th class="xdaq-sortable">Intensity, &times;10<sup>11</sup></th><th class="xdaq-sortable">Length, ns</th><th class="xdaq-sortable">Amplitude, V</th><th class="xdaq-sortable">Phase, ps</th></tr></thead>
<tfoot><tr><td>BX</td><td>Intensity</td><td>Length</td><td>Amplitude</td><td>Phase, ps</td></tr></tfoot>

%TABLE_B1%
</table>
</td>
<td style="vertical-align:top">
<table class="xdaq-table-striped" style="text-align:center">
<caption>Beam 2 </caption>
<thead><tr><th>BX</th><th class="xdaq-sortable">Intensity, &times;10<sup>11</sup></th><th class="xdaq-sortable">Length, ns</th><th class="xdaq-sortable">Amplitude, V</th><th class="xdaq-sortable">Phase, ps</th></tr></thead>
<tfoot><tr><td>BX</td><td>Intensity</td><td>Length</td><td>Amplitude</td><td>Phase, ps</td></tr></tfoot>
%TABLE_B2%
</table>
</td>
</tr>
</table>
</div>


<div class="xdaq-tab" title="FBCT and LHC">

<table class="xdaq-table">
<caption>Data from the LHC</caption>
<thead>
<tr>
<th>Measurement</th>
<th>Beam 1</th>
<th>Beam 2</th>
</tr>
</thead>


<tbody>
<tr>
<td>Expected bunches from LHC filling scheme:</td>
<td>%LHC_BX_B1%</td>
<td>%LHC_BX_B2%</td>
</tr>

<tr>
<td>FBCT expected bunches (I &gt; 5&times;10<sup>9</sup>):</td>
<td>%FBCT_BX_B1%</td>
<td>%FBCT_BX_B2%</td>
</tr>

<!--tr>
<td>Intensity for each bunch, &times; 10<sup>11</sup>:</td>
<td>%BPTX_INT_B2%</td>
</tr>

<tr>
<td>Length for each bunch, ns:</td>
<td>%BPTX_LEN_B2%</td>
</tr>

<tr>
<td>Amplitude for each bunch on te scope, mV:</td>
<td>%BPTX_AMP_B2%</td>
</tr-->


</tbody>
</table>

</div>
 


<div class="xdaq-tab" title="Scope screenshots">

<table>
<caption>Scope screenshots, updated every ~10 minutes. Click for full size.</caption>
<tr>
<td>
<br/>
%SCREEN_Timing%
</td>
<td>
<br/>
%SCREEN_Bunches%
</td>
</tr>
<!--tr>
<td>More</td>
<td>More</td>
</tr-->
</table>

</div>

<div class="xdaq-tab" title="Cogging from WBM">
  <a href="http://cmswbm.cms/cmsdb/servlet/FillReport?FILL=%FILL%" target="_blank">WBM page for this fill</a> <br/><br/>
  <img src="http://cmswbm.cms//fills/fill_%FILL%_cogging.gif" alt="cogging plot from WBM"/>
</div>


 
</div>
