
@charset "utf-8";

* {
    *     box-sizing: border-box
  }

/*main*/
html, body, p, th, td, dd, dt {
        font-family: Lato, sans-serif;
            background-color: #f1f1f1;
                margin-top: 1px;
                    margin-bottom: 1px;

}

h1, h2, h3, h4, h4, h6 {
        margin-top: 5px;
            margin-bottom: 5px

}

li, ul {
        margin: 1px

}

label {
        font-size: 13pt;

}

input {
        color: #000;
            vertical-align:center;
                /*height:28px;*/
}

input[type="text"]
{
        font-size:12px;
}

input[type="number"]
{
        font-size:12px;
            width: 40px;
}

input[type=checkbox], input[type=radio]  {
      vertical-align: middle;
        position: relative;
          bottom: 1px;
            margin-left: 8px;
              margin-right: 8px;
                padding-top: 5px;
                  padding-bottom: 5px;
                    height:28px;

}

input[type=file] {
      vertical-align: middle;
        position: relative;
          bottom: 1px;
            margin-left: 8px;
              margin-right: 8px;
                padding-top: 5px;
                  padding-bottom: 5px;

}
select {
        border:none solid #ccc;
            vertical-align:center;
                height:25px;
                    font-size: 9pt;

}

/*table, th, td {*/
    /*border: 1px solid black;*/
    /*border-collapse: collapse;*/

/*}*/
/*th, td {*/
    /*padding: 5px;*/
/*}*/
/*th {*/
    /*text-align: left;*/
/*}*/
thead {
    background-color: transparent;
}

.on{
    background-color: #3cb44b;
}
.off
{
    background-color: #e6194b;
}

.plots {
      background-color: inherit;
      width: inherit;
      /*margin-left: -600px;*/
      /*margin-right: -600px;*/
      /*overflow-x:hidden;*/
      /*text-align: center;*/

}
.plots-contentleft {
      color: inherit;
      /*margin: 0 auto;*/
      /*padding: 10px;*/
            /*font-size: 28px;*/
              /*line-height: 120%;*/
      float:left; 
                /*width: 400px;*/
      width: 49%;
      display: inline-block;
      /*text-align: justify;*/

}

.plots-contentright {
      color: inherit;
      /*margin: 0 auto;*/
      /*padding: 10px;*/
      /*font-size: 28px;*/
      /*line-height: 120%;*/
      float:right; 
      width:49%;
      display: inline-block;
      /*text-align: justify;*/
}

option {
        font-size: 12pt;

}

input[type=button] {
        background-color:   #1E90FF;

}

.title {
        /*position: fixed;*/
        /*margin-left: 20px;*/
        margin-right: 300px;
        /*margin-top: 10px;*/
        margin-bottom: 10px;
        top: 0;
        left: 0;
        /*height: 29px;*/
        width: inherit;
        /*z-index: 999;*/
        overflow: hidden;
        border: none solid #ccc;
        background-color: inherit;
}

.title h2{

}

.title img{
    float: right;
    /*display: inline-block;*/
    /*height: 20px;*/
    /*width: 20px;*/
}

a.text{
		color: #000000;
        float: left;
        height: 100%;
        background-color: inherit;
        vertical-align: middle;
        /*display: table-cell;*/
        height: 100%;
        transition: 0.3s;
        font-size: 17px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 16px;
        padding-right: 16px;
        margin-right: 10px;
}

/*for tab bar*/
.tab {
        /*position: fixed;*/
        left: 0;
        top: 72px;
        padding-left: 20px;
        height: 40px;
        width: inherit;
        z-index: 999;
        overflow: hidden;
        border: none solid #ccc;
        background-color: #e1e1e1;

}

.tab a.button {
        background-color: inherit;
        vertical-align: middle;
        /*display: table-cell;*/
        float: left;
        height: 100%;
        border: none;
        outline: none;
        cursor: pointer;
        transition: 0.3s;
        font-size: 17px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 16px;
        padding-right: 16px;
}

.tab a.button:hover {
        height: 100%;
        background-color: #aaa;
}

.tab a.button.active {
        float: left;
        height: 100%;
        background-color: #ccc;
}

.tab a.text {
		color: #000000;
        float: right;
        height: 100%;
        background-color: inherit;
        vertical-align: middle;
        /*display: table-cell;*/
        height: 100%;
        transition: 0.3s;
        font-size: 17px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 16px;
        padding-right: 16px;
        margin-right: 10px;
}

